<!DOCTYPE html>

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
    <br />
    <h3>@Html.ActionLink("Go Back To Login Page", "Login", "User")</h3>

</body>
</html>
